{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock links %}

{% block titlePage %}
    About
{% endblock titlePage %}

{% block mainContent %}
    <div class="cover">
        <h2 class="title">About Us</h2>
    </div>

    <div id="about-us-intro" class="about-container">
        <h3 class="about-container-title">Since 1998...</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex velit amet doloremque praesentium nesciunt doloribus modi aut, 
            dignissimos et odit! Ab aspernatur quam minima exercitationem dicta hic! Autem, hic fugit?
    
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non excepturi incidunt consequuntur laudantium, 
            debitis quia consectetur deleniti sapiente. 
            Cumque aperiam quibusdam dolore vitae, neque dicta explicabo nisi necessitatibus consectetur iste?
        </p>
    </div>

    <div id="meet-the-staff" class="about-container">
        <h3 class="about-container-title">Meet our Staff</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex velit amet doloremque praesentium nesciunt doloribus modi aut, 
            dignissimos et odit! Ab aspernatur quam minima exercitationem dicta hic! Autem, hic fugit?
    
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non excepturi incidunt consequuntur laudantium, 
            debitis quia consectetur deleniti sapiente. 
            Cumque aperiam quibusdam dolore vitae, neque dicta explicabo nisi necessitatibus consectetur iste?
        </p>
    </div>

    <div id="opening-time" class="about-container">
        <h3 class="about-container-title">Opening Times</h3>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Illum quisquam minus consequatur eius ipsa doloremque repudiandae debitis esse minima odio, 
            ratione aliquam sit pariatur laborum aliquid non consequuntur architecto magni.
        </p>
        
        <ul id="opening-times">
            <li>Monday 10 AM - 5 PM EST</li>
            <li>Tuesday 10 AM - 5 PM EST</li>
            <li>Wednesday 10 AM - 5 PM EST</li>
            <li>Thrusday 10 AM - 5 PM EST</li>
            <li>Friday 10 AM - 5 PM EST</li>
            <li>Saturday 10 AM - 5 PM EST</li>
            <li>Sunday 10 AM - 5 PM EST</li>
        </ul>
    </div>

{% endblock mainContent %}