<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

    <title>{% block titlePage %}
        Base Template
    {% endblock titlePage %}</title>
</head>
<body>
    <!-- navbar should go here -->

    <!-- navbar should go here -->

    {% block mainContent %}
        <!-- Put all content for different websites here -->
        <!-- NOT HERE, USE JINJA SYNTAX AND PUT ALL THE CONTENT IN ANOTHER HTML FILE -->
    {% endblock mainContent %}

    <footer>
        <div class="footer-container">
            <h3 class="footer-container-title">Contact Us</h3>
            <div class="footer-container-contents">
                Magna laboris nisi consectetur in cillum mollit ut proident anim eu do consequat excepteur do. 
                Pariatur consectetur aute id officia nisi magna qui quis cillum dolore ipsum do nostrud. 
                Labore officia sint cupidatat esse. Fugiat aute magna in laboris. Reprehenderit elit aute 
                eu ullamco mollit. Non sit proident in aliqua et ea excepteur tempor incididunt et excepteur minim amet. 
                Id incididunt enim nostrud aliquip nisi nulla do voluptate id aliquip ullamco veniam incididunt ad
            </div>
        </div>

        <div class="footer-container">
            <h3 class="footer-container-title">Opening Hours</h3>
        </div>

        <div class="footer-container">
            <h3 class="footer-container-title">Careers</h3>
        </div>

    </footer>
</body>
</html>