<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot_pass.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_user.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block links %}
        
    {% endblock links %}

    <title>{% block titlePage %}
        Base Template
    {% endblock titlePage %}</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <!-- <div class="navbar-centered">
                <a href="{{ url_for("homePage") }}"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="https://google.com"><i class="fa fa-fw fa-info"></i>About</a>
                <a href="{{ url_for("menu") }}"><i class="fa fa-fw fa-book"></i>Menu</a>
            </div> -->
            <div class="navbar-right">
                <a href="{{ url_for("homePage") }}"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="{{ url_for("aboutPage") }}"><i class="fa fa-fw fa-info"></i>About</a>
                <a href="{{ url_for("menu") }}"><i class="fa fa-fw fa-book"></i>Menu</a>
                <a href="{{ url_for("loginPage") }}"><i class="fa fa-fw fa-user"></i>Login</a>
            </div>
            <div class="navbar-left">
                <a href="{{ url_for("homePage") }}"><img class="logo-icon" src="https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1610989066011-TAM2C1NWLRLL10HH3FMU/Restaurant-Logo-Designs.jpg?format=1500w"/></a>
            </div>
            <label class="navbar-hamburger-menu" for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <div class="navbar-all">
                <a href="{{ url_for("homePage") }}"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="{{ url_for("aboutPage") }}"><i class="fa fa-fw fa-info"></i>About</a>
                <a href="{{ url_for("menu") }}"><i class="fa fa-fw fa-book"></i>Menu</a>
                <a href="{{ url_for("loginPage") }}"><i class="fa fa-fw fa-user"></i>Login</a>
            </div>
        </div>
    </nav>
    <!-- navbar should go here -->

    {% with messages = get_flashed_messages(with_categories = true)%}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class = "alert alert-danger alert-dismissable show" role = "alert">
                    {{ message }}
                </div>
            {% else %}
                <div class = "alert alert-success alert-dismissable show" role = "alert">
                    {{ message }}
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block mainContent %}
        <!-- Put all content for different websites here -->
        <!-- NOT HERE, USE JINJA SYNTAX AND PUT ALL THE CONTENT IN ANOTHER HTML FILE -->

        <a href = "{{ url_for('homePage') }}"></a>
        <a href = "{{ url_for('loginPage') }}"></a> 
        <a href = "{{ url_for('forgotpassPage') }}"></a> 
        <a href = "{{ url_for('newuserPage') }}"></a> 

    {% endblock mainContent %}

    <footer>
        <div id="footer">
            <div class="footer-container">
                <h3 class="footer-container-title">Contact Us</h3>
                
                <ul class="footer-list">
                    <li class="footer-list-item footer-contact-info">Email: example@example.com</li>
                    <li class="footer-list-item footer-contact-info">Phone: 123-456-7890</li>
                    <li class="footer-list-item footer-contact-info">Hours: Weekdays from 10 AM - 5 PM EST</li>
                </ul>
            </div>

            <div class="footer-container" id="footer-follow-us">
                <h3 class="footer-container-title">Follow Us</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="https://twitter.com" target="_blank">Twitter</a></li>
                    <li class="footer-list-item"><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    <li class="footer-list-item"><a href="https://youtube.com" target="_blank">Youtube</a></li>
                    <li class="footer-list-item"><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
                </ul>
            </div>

            <div class="footer-container">
                <h3 class="footer-container-title">Resources</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="{{ url_for("aboutPage") }}">About Us</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("faqs") }}">FAQs</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("privacyPolicy") }}">Privacy Policy</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("tos") }}">Terms of Service</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("customerSupport")}}">Customer Support</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3 class="footer-container-title">Careers</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="{{ url_for("careers")}}">Chefs</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("careers")}}">Deliveries</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("careers")}}">Managers</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("careers")}}">Developers</a></li>
                    <li class="footer-list-item"><a href="{{ url_for("careers")}}">Other Openings</a></li>
                </ul>
            </div>
        </div>

        <div id="credits">Built By: Team M | &copy Copyright 2022</div>

    </footer>
</body>
</html>