<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_page.css') }}">
    <title>{% block titlePage %}
        Base Template
    {% endblock titlePage %}</title>
</head>
<body>
    <!-- navbar should go here -->
    <nav>
        <div id="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-item"><a href="https://google.com" target="_blank">Home</a></li>
                <li class="navbar-list-item"><a href="https://google.com" target="_blank">About</a></li>
                <li class="navbar-list-item"><a href="https://google.com" target="_blank">Menu</a></li>
                <li class="navbar-list-item"><a href="https://google.com" target="_blank">Login</a></li>
            </ul>
        </div>
    </nav>
    <!-- navbar should go here -->

    {% block mainContent %}
        <!-- Put all content for different websites here -->
        <!-- NOT HERE, USE JINJA SYNTAX AND PUT ALL THE CONTENT IN ANOTHER HTML FILE -->
        <a href = "{{ url_for('homePage') }}"></a>
        <a href = "{{ url_for('loginPage') }}"></a> 

    {% endblock mainContent %}

    <footer>
        <div id="footer">
            <div class="footer-container">
                <h3 class="footer-container-title">Contact Us</h3>
                
                <ul class="footer-list">
                    <li class="footer-list-item footer-contact-info">Email: example@example.com</li>
                    <li class="footer-list-item footer-contact-info">Phone: 123-456-7890</li>
                    <li class="footer-list-item footer-contact-info">Hours: Weekdays from 10 AM - 5 PM EST</li>
                </ul>
            </div>

            <div class="footer-container" id="footer-follow-us">
                <h3 class="footer-container-title">Follow Us</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Twitter</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Instagram</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Youtube</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">LinkedIn</a></li>
                </ul>
            </div>

            <div class="footer-container">
                <h3 class="footer-container-title">Resources</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">About Us</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">FAQs</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Privacy Policy</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Terms of Service</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Customer Support</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3 class="footer-container-title">Careers</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Chefs</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Deliveries</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Managers</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Developers</a></li>
                    <li class="footer-list-item"><a href="https://google.com" target="_blank">Other Openings</a></li>
                </ul>
            </div>
        </div>

        <div id="credits">Built By: Team M | &copy Copyright 2022</div>

    </footer>
</body>
</html>