{% extends 'dashboard_base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery_dashboard_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery-bidding.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
{% endblock links %}

{% block titlePage %}
    Delivery Bidding
{% endblock titlePage %}

{% block mainContent %}

<section class = "chef-items">
    <div class="appetizer-items">
        <h1 class = "menu-item-heading">
            APPETIZERS
        </h1>
        <div class = "menu-group">
            <div class = "menu-item ">
                <div class = "menu-id">one</div>
                <img class = "item-image" src="static\assets\test.jpg" alt="">
                <div class="item-name">
                    Item 1 Name
                </div>
                <div class = "menu-item-description">
                    Condimentum lacus orci netus. 
                </div>
                <div class="item-price">$5.99</div>
                <div class = "buttons">
                    <button class = "edit-btn">Edit</button>
                    <button class = "remove-btn">Remove</button>
                </div>
            </div>

            <div class = "menu-item ">
                <div class = "menu-id">one</div>
                <img class = "item-image" src="static\assets\test.jpg" alt="">
                <div class="item-name">
                    Item 1 Name
                </div>
                <div class = "menu-item-description">
                    Condimentum lacus orci netus. 
                </div>
                <div class="item-price">$5.99</div>
                <div class = "buttons">
                    <button class = "edit-btn">Edit</button>
                    <button class = "remove-btn">Remove</button>
                </div>
            </div>

            <div class = "menu-item ">
                <div class = "menu-id">one</div>
                <img class = "item-image" src="static\assets\test.jpg" alt="">
                <div class="item-name">
                    Item 1 Name
                </div>
                <div class = "menu-item-description">
                    Condimentum lacus orci netus. 
                </div>
                <div class="item-price">$5.99</div>
                <div class = "buttons">
                    <button class = "edit-btn">Edit</button>
                    <button class = "remove-btn">Remove</button>
                </div>
            </div>
            
            <div class = "menu-item ">
                <div class = "menu-id">one</div>
                <img class = "item-image" src="static\assets\test.jpg" alt="">
                <div class="item-name">
                    Item 1 Name
                </div>
                <div class = "menu-item-description">
                    Condimentum lacus orci netus. 
                </div>
                <div class="item-price">$5.99</div>
                <div class = "buttons">
                    <button id = "edit-button" class = "edit-btn">Edit</button>

                    <button class = "remove-btn">Remove</button>
                </div>
            </div>

        </div>
    </div>
    

</section>

<!-- POPUP MODAL -->
<div class="bg-modal">
    <div class="modal-content">
        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
              <h1>Update Item</h1>
          
              <input type="text" placeholder="Enter Item Id" name="itemid" required>
              <input type="text" placeholder="Enter Item Name" name="itemname" required>
              <input type="text" placeholder="Enter Description" name="itemdescription" required>
              <input type="text" placeholder="Enter Price" name="itemprice" required>


              <button type="submit" class="btn">Update</button>
              <button type="button" class="btn-cancel" onclick="closeForm()">+</button>
            </form>
          </div>    
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $('.remove-btn').click(function() {removeItem(this);});
    /* remove item from cart and recalculate summary */
    function removeItem(removeButton) {
        /* remove row */
        var productRow = $(removeButton).parent().parent()
        productRow.slideUp(fadeTime, 
            function() {
                productRow.remove();
            }
        )
    }
    var fadeTime = 300;

    document.querySelector('.edit-btn').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display = "flex";
    });

    document.querySelector('.btn-cancel').addEventListener('click',function(){
        document.querySelector('.bg-modal').style.display = "none";
    });

</script>


{% endblock %}