{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery_dashboard.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
{% endblock links %}

{% block titlePage %}
    Delivery Page
{% endblock titlePage %}

{% block mainContent %}

<div class = "deliverysidebar">
    <div class = "logo-details">
        <img class = "logo" alt="My Image" src="https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1610989066011-TAM2C1NWLRLL10HH3FMU/Restaurant-Logo-Designs.jpg?format=1500w" />
    </div>
    <u1 class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class = "link_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-package'></i>
                <span class = "link_name">Past Deliveries</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-money-withdraw'></i>
                <span class = "link_name">Delivery Bidding</span>
            </a>
        </li>
    </u1>
</div>

<!--home-content-->

<section class = "delivery-home-section">
    <nav class = "delivery-nav">
        <div class = "delivery-sidebar-button">
            <i class='bx bx-menu'></i>
            <span class="delivery-dashboard">Dashboard</span>
        </div>
        <div class="delivery-welcome">
            Welcome, Deliverer PeMaJe GiViSe
        </div>
        <div class="delivery-logout">
           
        </div>
    </nav>


    <!--home-content-->
    <div class="delivery-warning-button">
        <button>Warnings</button>
    </div>

    <div class="delivery-home-content">
        <div class="delivery-number-overview-box">
            <div class="delivery-box">
                <div class="delivery-left">
                    <div class="delivery-number">Delivery # ( Order ID )</div>
                    <hr>
                    <div class="delivery-items">
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="delivery-home-content">
        <div class="delivery-number-overview-box">
            <div class="delivery-box">
                <div class="delivery-left">
                    <div class="delivery-number">Delivery Location for Delivery # ( Order ID )</div>
                    <hr>
                    <div class="delivery-customer-info">
                        <div class="delivery-customer-name">Customer Name: Peggie</div>
                        <div class="delivery-customer-address">Customer Address: At Your Moms House 123</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


{% endblock %}