{% extends 'dashboard_base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery_dashboard_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery_dashboard.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
{% endblock links %}

{% block titlePage %}
    DeliveryPage
{% endblock titlePage %}

{% block mainContent %}

<section class = "warning-section">
    <div class="alert warning-alert">
        <h3>WARNINGS: 3</h3>
        <a class="close">&times;</a>
    </div>
</section>

<script>
    

</script>

{% endblock %}