{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot_pass.css') }}">
{% endblock links %}


{% block titlePage %} Login | Restaurant {% endblock %}

{% block mainContent %}
<div id = "backgroundForgot">
    <div id = "containerforgot">
        <div id = everythingforgot>
            <h1 id = "forgotHeader">Forgot Password</h1>
            <form action="submit" id = "forgotform">
                <div id = "emailpassform">
                    <label for="Email1">Email:</label>
                    <input type="text" id = "email" name = "email"> <br> <br>
                    <label for="New Password">New Password:</label>
                    <input type="text" id = "newpass" name = "newpass"> <br> <br>
                    <label for="Confirm Password">Confirm Password:</label>
                    <input type="text" id = "conpass" name = "conpass"> <br> <br>
                </div>
                <input type="submit" id = "newpassbutton" value = "Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}