{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forum.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock links %}

{% block titlePage %}
    Chef Discussion Forum
{% endblock titlePage %}

{% block mainContent %}
    <div class="cover">
        <h2 class="title">Discussion Forum</h2>
    </div>
    <div class="forumPost">
        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">Author</div>
                <div class="content" style="font-size: 20px">Title of post</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">Username</a></div>
                    <div>usertype</div>
                    <img src="../static/assets/defaultimg.jpg" alt="">
                    <div>Posts: 45</div>
                </div>
                <div class="content">
                    random txt

                    <hr>
                    Posted on: date
                    <br>
                    <div class="comment">
                        <button onclick="showComment()">Comment</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Comment Area-->
        <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id="" placeholder="comment here ... "></textarea>
            <input type="submit" value="submit">
        </div>

        <!--Comments Section-->
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">user2</a></div>
                    <div>usertype</div>
                    <img src="../static/assets/defaultimg.jpg" alt="">
                    <div>Posts: 455</div>
                </div>
                <div class="content">
                    Just a comment of the above random topic.
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit">
        </div>


        <!--Another Comment With replies-->
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">user3</a></div>
                    <div>usertype</div>
                    <img src="../static/assets/defaultimg.jpg" alt="">
                    <div>Posts: 455</div>
                </div>
                <div class="content">
                    Just a comment.
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit">
        </div>

    </div>
    <script src="../forum.js"></script>
    </div>

{% endblock %}