{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forum.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock links %}

{% block titlePage %}
    Discussion Forum
{% endblock titlePage %}

{% block mainContent %}
    <div class="cover">
        <h2 class="title">Discussion Forum</h2>
    </div>
        <div class="mainForumContainer">
    <div class="posts-table">
            <div class="table-head">
                <div class="subjects">Title</div>
                <div class="replies">Replies/Views</div>
                <div class="last-reply">Last Reply</div>
            </div>

            <div class="table-row">
                <div class="status"><i class="fa fa fa-users"></i></div>
                <div class="subjects">
                    <a href="">Post 1</a>
                    <br>
                    <span>Started by <b><a href="">User</a></b> .</span>
                </div>
                <div class="replies">
                    2 replies <br> 15 views
                </div>

                <div class="last-reply">
                    date
                    <br>By <b><a href="">User</a></b>
                </div>
            </div>

            <div class="table-row">
                <div class="status"><i class="fa fa fa-users"></i></div>
                <div class="subjects">
                    <a href="">Post 2</a>
                    <br>
                    <span>Started by <b><a href="">User</a></b> .</span>
                </div>
                <div class="replies">
                    2 replies <br> 15 views
                </div>

                <div class="last-reply">
                    date
                    <br>By <b><a href="">User</a></b>
                </div>
            </div>

        </div>
        <!--Pagination starts-->
            <div class="pagination">
                pages: <a href="">1</a><a href="">2</a><a href="">3</a>
            </div>
        <!--pagination ends-->
    </div>
    </div>
{% endblock %}