{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans">
{% endblock links %}

{% block titlePage %} Home | Restaurant {% endblock %}

{% block mainContent %}

<div id = "main-container" class = "transparent">
    <div class = "welcome-container transparent">
        <div class = "welcome-message transparent"> 
            <h1 class = "main-h1 transparent fade">WELCOME TO ONEBITES</h1>
            <h2 class="main-h1 motto-spacing transparent fade" style="font-size: 30px;">Joy With Every Bite</h2>
        </div>
    </div>
</div>

{% if user %}
    <div>
        <h1 class="title" style="margin-top: 50px;">Your Popular Dishes</h1>
        <div class="container">
            {% for dish in favDishes %}
                <div class="gridItem"><img class="gridImg" src={{ dish.img }}></div>

                <div class="gridItem">
                    <div class="itemName"><h4 class="food-name item-attribute">{{ dish.name}}</h4></div>
                    <div class="itemDes"><h4 class="item-attribute">Description:</h4><p>{{ dish.desc }}!</p></div>
                    <div class="itemDes"><h4 class="item-attribute">Price:</h4><p>${{ dish.price }}</p></div>
                    <div class="itemDes"><h4 class="item-attribute">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <div>
        <h1 class="title" style="margin-top: 50px;">Try These Popular Dishes</h1>
        <div class="container">
            {% for dish in popularDishes %}
                <div class="gridItem"><img class="gridImg" src={{ dish.img }}></div>
    
                <div class="gridItem">
                    <div class="itemName"><h4 class="food-name item-attribute">{{ dish.name}}</h4></div>
                    <div class="itemDes"><h4 class="item-attribute">Description:</h4><p>{{ dish.desc }}!</p></div>
                    <div class="itemDes"><h4 class="item-attribute">Price:</h4><p>${{ dish.price }}</p></div>
                    <div class="itemDes"><h4 class="item-attribute">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div>
    <h1 class="title" style="margin-top: 50px;">Special Promotions</h1>

    <div class="info-box">
        <h2 class="title " style="margin: 0;">FREE DELIVERY</h2>
        <p class="center transparent black-text" style="font-size: 20px;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, accusamus ullam ratione veritatis voluptas rerum expedita perferendis accusantium at necessitatibus corporis repellat voluptate nihil consectetur delectus rem inventore quo incidunt!
        </p>
        <p class="center transparent black-text" style="font-size: 25px;">
            Opening Times: 10AM - 8PM EST
        </p>
        <p class="center transparent black-text" style="font-size: 25px;">
            Delivery Times: 10AM - 8PM EST
        </p>

        <p class="center transparent black-text" style="font-size: 20px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur dolorum, ullam, sit officiis obcaecati cum quod ratione laudantium quae doloribus animi laborum, aliquid mollitia vitae beatae ducimus amet fugit?
        </p>

        <div class="center transparent" style="margin: 20px;">
            <button><strong class="transparent">CLAIM OFFER</strong></button>
        </div>
    </div>

    <div class="info-box">
        <h2 class="title " style="margin: 0;">FREE DRINK WITH ORDERS $50</h2>
        <p class="center transparent black-text" style="font-size: 20px;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, accusamus ullam ratione veritatis voluptas rerum expedita perferendis accusantium at necessitatibus corporis repellat voluptate nihil consectetur delectus rem inventore quo incidunt!
        </p>
        <p class="center transparent black-text" style="font-size: 25px;">
            Opening Times: 10AM - 8PM EST
        </p>
        <p class="center transparent black-text" style="font-size: 25px;">
            Delivery Times: 10AM - 8PM EST
        </p>

        <p class="center transparent black-text" style="font-size: 20px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur dolorum, ullam, sit officiis obcaecati cum quod ratione laudantium quae doloribus animi laborum, aliquid mollitia vitae beatae ducimus amet fugit?
        </p>

        <div class="center transparent" style="margin: 20px;">
            <button><strong class="transparent">CLAIM OFFER</strong></button>
        </div>
    </div>
</div>
{% endblock %}