{% extends 'base.html' %}
{% block titlePage %} Home | Restaurant {% endblock %}

{% block mainContent %}
    <div id = "home-container">
        <h1>Welcome to Restaurant.</h1>
        <div class = "split-container">
            <div id = "split-left">
                <h2>Try Our Most Popular Dishes...</h2>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
            </div>
            <div class = "vertical-line"></div>
            <div id = "split-right">
                <h2>Try Our Highest Rated Dishes...</h2>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
                <div class = top-dishes>
                    <img class = "food-pics" src = "food1.jpg">
                    <div id = "dish-info">
                        <p class = "align-left">Name of Dish</p>
                        <p class = "align-center"></p>
                        <p class = "align-right">Price of Dish</p>
                    </div>
                        <p style = "text-align: center;">Description</p>
                        <p style = "text-align: center;"><i>Allergens</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}