{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
{% endblock links %}

{% block titlePage %}Menu{% endblock %}

{% block mainContent %}

<dev class="Title", style="text-align: center">Menu</dev>

    <dev class="category">Appetizer</dev>
        <dev class="container">

            <!item 1>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item2>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item 3>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item4>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

        </dev>

 <!----------------------------------------------------------------------------------------------------------------------------------->

    <dev class="category">Entree</dev>
        <dev class="container">

            <!item 1>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item2>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item 3>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item4>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

        </dev>

 <!----------------------------------------------------------------------------------------------------------------------------------->

    <dev class="category">Dessert and Drinks</dev>
        <dev class="container">

            <!item 1>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item2>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item 3>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>

            <!item4>
            <dev class="gridItem">
                <!item image setup>
                <img class="gridimg" src="..\static\assets\test.jpg">
            </dev>
            <dev class="gridItem">
                <dev class="itemName">
                    <!item name goes below>
                    item name item name item name item
                </dev>
                <dev class="itemDes">
                    <!item description goes below>
                    <br>item description item description item description item description item description
                </dev>
            </dev>
        </dev>

{% endblock %}