<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">

    </head>

        <body>

        <!include navigation bar below>

            <h1 style="text-align: center">Menu</h1>
            <section class="main-container">

                <h2>Appetizer</h2>
                <!Appetizer grid section>
                    <dev class = "grid-appetizer">
                    <!img src="">
                        <div>
                            <img class="gridimg" src="..\static\assets\test.jpg">
                            <div class="gridtxt">
                                <h3>Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name Item name </h3>
                                <p>Item description</p>
                            </div>
                        </div>
                         <div>
                            <!img class="gridimg" src="..\static\assets\test.jpg">
                        </div>
                        <div>
                            <img class="gridimg" src="..\static\assets\test.jpg">
                        </div>
                        <div>
                            <img class="gridimg" src="..\static\assets\test.jpg">
                        </div>
                    </dev>

                <h2>Entree</h2>
                <!Entree grid section>
                    <dev class = "grid-entree">
                    <!img src="">
                        <div><h3>Item name</h3>
                            <p>Item description</p>
                        </div>
                        <div>item</div>
                        <div>item</div>
                        <div>item</div>
                    </dev>

                <h2>Dessert and Drinks</h2>
                <!Dessert and Drinks grid section>
                    <dev class = "grid-dessertDrinks">
                    <!img src="">
                        <<div>item</div>
                        <div>item</div>
                        <div>item</div>
                        <div>item</div>
                    </dev>
            </section>

                    <!--test img
                    <!img src="../assets/test.jpg" alt=" ">

                    <!section class = "foodCat">

                        <! app section>
                    <dev class = "grid-item appetizer">
                            <!img src="">
                            <p></p>
                    </dev>

                        <!ent section>
                    <dev class = "grid-item entree">
                            <!img src="">
                            <p></p>
                    </dev>

                        <!dnd section>
                    <dev class = "grid-item dessertDrinks">
                            <!img src="">
                            <p></p>
                    </dev>

                    <!/section>
                /div-->

            <!include footer below>

        </body>
</html>