<!DOCTYPE html>
{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/orders.css') }}">
{% endblock links %}

{% block titlePage %}
    Your Orders
{% endblock titlePage %}

{% block mainContent %}
    <div class="cover">
    <h2 class="title">Your Orders</h2>
    </div>

    {% if user %}
    <div>WIP</div>
    {% else %}

        {% set currOrder = true %}
        {% if currOrder == true %}
        <h3 class="gridTitle">Your order is being prepared...</h3>
        <div class="Container">
            {% for currentOrder in currentOrders %}
            <div class="subItem"><img class="gridImg" src={{ currentOrder.img }}></div>

            <div class="subItem">
                <div class="itemName"><h4 class="food-name item-attribute">{{ currentOrder.name}}</h4></div>
                <div class="itemDes"><h4 class="item-attribute">Description:</h4><p>{{ currentOrder.desc }}!</p></div>
                <div class="itemDes"><h4 class="item-attribute">Price:</h4><p>${{ currentOrder.price }}</p></div>
            </div>
            {% endfor %}
        </div>

            <! buttons>
            <div style="text-align: center">
                <button type="button" class="editOrderButton" onclick="alert('edit test')">Edit Order</button>
            </div>
            <div style="text-align: center">
                <button type="button" class="cancelButton" onclick="alert('cancel test')">Cancel Order</button>
            </div>


        {% endif %}
        <h3 class="gridTitle">Order history</h3>
        <div class="Container">
            {% for pastOrder in pastOrders %}
            <div class="subItem"><img class="gridImg" src={{ pastOrder.img }}></div>

            <div class="subItem">
                <div class="itemName"><h4 class="food-name item-attribute">{{ pastOrder.name}}</h4></div>
                <div class="itemDes"><h4 class="item-attribute">Description:</h4><p>{{ pastOrder.desc }}!</p></div>
                <div class="itemDes"><h4 class="item-attribute">Price:</h4><p>${{ pastOrder.price }}</p></div>
            </div>
            {% endfor %}
        </div>
        <h3 class="gridTitle">Try our popular dishes</h3>
        <div class="Container">
            {% for popular in populars %}
            <div class="subItem"><img class="gridImg" src={{ popular.img }}></div>

            <div class="subItem">
                <div class="itemName"><h4 class="food-name item-attribute">{{ popular.name}}</h4></div>
                <div class="itemDes"><h4 class="item-attribute">Description:</h4><p>{{ popular.desc }}!</p></div>
                <div class="itemDes"><h4 class="item-attribute">Price:</h4><p>${{ popular.price }}</p></div>
            </div>
            {% endfor %}
        </div>
    {% endif %}



{% endblock mainContent%}