{% extends 'dashboard_base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/delivery_dashboard_base.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
{% endblock links %}

{% block titlePage %}
    Past Deliveries
{% endblock titlePage %}

{% block mainContent %}

<!--home-content-->
<section class = "delivery-home-section">

    <!--home-content-->
    <div class="delivery-warning-button">
        <button id = "delwarning-button">Warnings</button>
    </div>

    <div class="delivery-home-content">
        <div class="delivery-number-overview-box">
            <div class="delivery-box">
                <div class="delivery-left">
                    <div class="delivery-number">Delivery # ( Order ID )</div>
                    <hr>
                    <div class="delivery-items">
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                        <div class="delivery-name-qty">
                            <div class="delivery-name-food">Name</div>
                            <div class="delivery-qty">QTY</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="delivery-home-content">
        <div class="delivery-number-overview-box">
            <div class="delivery-box">
                <div class="delivery-left">
                    <div class="delivery-number">Delivery Location for Delivery # ( Order ID )</div>
                    <hr>
                    <div class="delivery-customer-info">
                        <div class="delivery-customer-name">Customer Name: Peggie</div>
                        <div class="delivery-customer-address">Customer Address: At Your Moms House 123</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script>
    let deliverysidebar = document.querySelector(".deliverysidebar");
    let deliverysidebarBtn = document.querySelector(".deliverysidebarBtn");

    deliverysidebarBtn.onclick = function(){
        deliverysidebar.classList.toggle("active");
    }
</script>

{% endblock %}