{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile_page.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans">
{% endblock links %}

{% block titlePage %} Profile {% endblock %}

{% block mainContent %}
<div class = "cover">
    <h2 class = "title">Profile</h2>
</div>

<div class = "info-container">
    <div class = "flex-info">
        <div class = "profile-container">
            <h1 style = "font-size: 25px; color:rgb(65, 65, 65);">Personal Information</h1><hr>
            <div class = "name-container">
                <div>Name</div>
                <div class = "padding-txt">CUSTOMER NAME</div>
            </div>

            <div class = "email-container">
                <div>Email</div>
                <div class = "padding-txt">EMAIL ADDRESS</div>
            </div>

            <div class = "password-container">
                <div class = "pw-container">Password</div>
                <div class = "pw-container">
                    <div class = "change-pw padding-txt">
                        <!-- change pasword modal form -->
                        <button onclick = "document.getElementById('change-pass').style.display = 'block'" class = "modal-btn">Change Password</button>
                        <div id = "change-pass" class = "modal">
                            <form class = "modal-content animate" action = "" method = "post">
                                <div class = "pass-container">
                                    <h1 class = "modal-header">Change Password</h1>
                                    <div class = "flex-info" id = "change-form">
                                        <label for = "email" class = "form-info">Email</label>
                                        <input type = "email" id = "email" name = "email" placeholder = "Enter Email" autocomplete = "off" required> <br>
                                        <label for = "username" class = "form-info">Username</label>
                                        <input type = "text" id = "username" name = "username" placeholder = "Enter Username" autocomplete = "off" required> <br>
                                        <label for = "newpass" class = "form-info">New Password</label>
                                        <input type = "password" id = "newpass" name = "newpass" placeholder = "Enter New Password" autocomplete = "off" required> <br>
                                        <label for = "conpass" class = "form-info">Confirm New Password</label>
                                        <input type = "password" id = "conpass" name = "conpass" placeholder = "Confirm New Password" autocomplete = "off" required>
                                    </div>
                                    
                                </div>
                                <div class = "btn-container">
                                    <button type = "button" onclick = "document.getElementById('change-pass').style.display = 'none'" class = "cancel-btn">Cancel</button>
                                    <button type = "submit" class = "confirm-btn">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "phone-container">
                <div>Phone Number</div>
                <div class = "padding-txt">PHONE NUMBER</div>
            </div>

            <div class = "address-container">
                <div>Address</div>
                <div class = "padding-txt">CUSTOMER ADDRESS</div>
            </div>
        </div>

        <div class = "wallet-container">
            <h1 style = "font-size: 25px; color:rgb(65, 65, 65); padding-top: 5px;">Wallet</h1><hr>
            <div class = "card-container">
                <div>Card Number</div>
                <div class = "padding-txt"> **** **** **** LAST4DIGITS</div>
            </div>
            <div class = "balance-container">
                <div>Balance</div>
                <div class = "padding-txt">
                    <div style = "padding-bottom: 10px;">$100.00</div>
                    <div class = "funds-btn">
                        <!-- charge funds modal form -->
                        <button onclick = "document.getElementById('add-funds').style.display = 'block'" class = "modal-btn">Add Funds</button>
                        <div id = "add-funds" class = "modal">
                            <form class = "modal-content animate modal-add" action = "" method = "post">
                                <div class = "pass-container">
                                    <h1 class = "modal-header">Add Funds</h1>
                                    <div style = "text-align: center; font-size: 20px; padding-bottom: 10px;">Current Funds: $100</div>
                                    <div class = "charge-amt modal-info">
                                        <label for = "funds">Amount to Add</label>
                                        <div class = "modal-info">
                                            <input type = "number" id = "funds" name = "funds" placeholder = "Enter Amount" autocomplete = "off" required>
                                        </div>
                                    </div>
                                </div>
                                <div class = "btn-container">
                                    <button type = "button" onclick = "document.getElementById('add-funds').style.display = 'none'" class = "cancel-btn">Cancel</button>
                                    <button type = "submit" class = "confirm-btn">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "warnings-container">
            <h1 style = "font-size: 25px; color:rgb(65, 65, 65); padding-top: 5px;">Warnings</h1><hr>
            <div class = "flex-container num-container">
                <div>Number of Warnings</div>
                <div class = "padding-txt">0</div>
            </div>
            <div style = "font-size: 13px; color:rgb(146, 92, 92); text-align: center;">*CAUTION: Receiving 3 warnings will result your account in being blacklisted.</div>
        </div>

        <div class = "delete-container">
            <h1 style = "font-size: 25px; color:rgb(65, 65, 65); padding-top: 5px;">Delete Account</h1><hr>
            <div class = "del-modal" style = "text-align: center; ">
                <!-- delete account modal -->
                <button onclick = "document.getElementById('delete-acc').style.display = 'block'" class = "modal-btn">Delete Account</button>
                <div id = "delete-acc" class = "modal">
                    <form class = "modal-content modal-delete animate" action = "" method = "post">
                        <div class = "del-container">
                            <h1 class = "modal-header">Delete Account</h1>
                            <p class = "modal-info" style = "font-size: 20px;">Are you sure you want to delete your account?</p>
                            <p class = "modal-info" style = "font-size: 13px; color:rgb(146, 92, 92);">*CAUTION: Account CANNOT be recovered once it is deleted.</p>
                            <div class = "btn-container">
                                <button type = "button" onclick = "document.getElementById('delete-acc').style.display = 'none'" class = "cancel-btn">Cancel</button>
                                <button type = "button" class = "delete-btn">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p class = "modal-info" style = "font-size: 13px; color:rgb(146, 92, 92);">*CAUTION: Account CANNOT be recovered once it is deleted.</p>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('change-pass');
    var modal1 = document.getElementById('add-funds');
    var modal2 = document.getElementById('delete-acc');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if ((event.target == modal) || (event.target == modal1) || (event.target == modal2)) {
            modal.style.display = "none";
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    }
</script>
{% endblock %}