 /*Chef containter section */
.chef-items{
    position: relative;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

/* hamburger resize of container */
.deliverysidebar.active ~ .chef-items{
    width: calc(100% - 60px);
    left: 60px;
}

/* appetizer */
.appetizer-items{
    margin: 1.5em;
    
}
/* item name */
.item-name{
    padding: 1.5em;
}
/* resizing of image */
.item-image{
    width: 100px;
    height: 100px;
    padding: 1.5em;
    flex-shrink: 0;
    object-fit: cover;
}

/* header for section */
.menu-item-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

/* container holding all the items */
.menu-group{
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    margin: 1.5em;

}

/* specific item */
.menu-item{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/* specific menu id */
.menu-id{
    justify-content: center;
    margin: 0;
    height: fit-content;
    top: 50%;
    padding: 1.5em 0;
}

/* price of items */
.item-price{
    padding: 1.5em;
}

/* buttons */
.buttons{
    display: flex;
    padding: 1.5em;

}

/* edit button */
.edit-btn{
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 2.5em;
    text-align: center;
}

.edit-btn:hover,
.edit-btn:focus {
  background-color: #07c;
}

.edit-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.edit-btn:active {
  background-color: #0064bd;
  box-shadow: none;
}

/* remove button */
.remove-btn{
    background-color: #ff0000;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 2.5em;
    text-align: center;
}

.remove-btn:hover,
.remove-btn:focus {
  background-color: rgb(255, 106, 80);
}

.remove-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.remove-btn:active {
  background-color: #0064bd;
  box-shadow: none;
}



/* description for the item */
.menu-item-description{
    padding: 1.5em;
}

 @media screen and (min-width: 992px) {
    .menu-group{
        font-size: 16px;
        grid-template-columns: repeat(2,1fr);
    }
    .item-image{
        width: 125px;
        height: 100px;
        flex-shrink: 0;
    }

}
@media screen and (max-width: 600px)
{
    .menu-group{
        font-size: 16px;
        display: block;
    }
    .item-image{
        width: 125px;
        height: 100px;
        flex-shrink: 0;
    }
}


/* POPUP MODAL */

.bg-modal{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input{
    width:50%;
    display: block;
    margin: 15px auto;
}

.btn-cancel{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn-cancel:hover{
    color: red;
}