:root {
    --footer-background-color: rgb(34,34,34);

    --footer-text-color: white;

    --footer-font-title-size: 25px;
    --footer-font-title-color: rgb(172, 172, 172);
    --footer-font-item-size: 15px;
    --footer-font-item-color: rgb(204, 203, 203);

}

/* Everything in the footer should have the same background and text color  */
footer, footer * 
{
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
}

#footer
{
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-bottom: 40px;
    justify-content: center;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.footer-container-title
{
    font-size: var(--footer-font-title-size);
    color: var(--footer-font-title-color);
    margin-bottom: 0;
}

.footer-list
{
    padding: 0;
    list-style: none;
}

.footer-list a
{
    color: var(--footer-font-item-color);
    text-decoration: none;
}

.footer-list a:hover
{
    transition: 0.2s;
    color: white;
}

.footer-list-item
{
    margin: 0;
    padding: 5px;
    font-size: var(--footer-font-item-size);
}

#footer-contact-info p
{
    color: var(--footer-font-item-color);
    font-size: var(--footer-font-item-size);
}

#footer-restaurant-name
{
    margin-top: 70px;
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
}

#footer-restaurant-desc
{
    width: 500px;
}

#credits
{
    padding: 0;
    text-align: center;
    padding-bottom: 50px;
}