:root {
    --general-background-color: white;
    --general-text-color: rgb(78, 78, 78);

    --general-font-size: 50px;
}

*
{
    background-color: var(--general-background-color);
    color: var(--general-text-color);

    font-size: var(--font-size);
}

/* makes backgrounds transparent */
.transparent {
    background: transparent;
}

.center {
    display: block;
    text-align: center;
}

/* container for top banner */
.welcome-container {
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
    object-fit: fill;
    height: 200px;
}

/* contains welcome and motto */
.welcome-message {
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: auto;
}

.fade {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* centers the welcome message */
.main-h1 {
    font-size: 50px;
    color:rgb(211, 211, 211);
    letter-spacing: 0.17em;
    line-height: 0.9em;
    text-align: center;
}

/* motto elements */
.motto {
    height: 15%;
}

.motto-spacing {
    text-align: center;
    color:rgba(211, 211, 211, 0.774);
    font-family: serif;
}

.motto-height {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -95%);
}


.title {
    font-size: 40px;
    color: black;
}

.debug {
    background-color: red;
    border: 2px solid black;
}

.info-box {
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    /* background: linear-gradient(90deg, rgba(78,110,133,1) 7%, rgba(36,104,162,1) 53%, rgba(0,108,255,1) 100%); */
    background-color: transparent;
}

.info-box button {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    color: black;
    background-color: rgb(220, 239, 46);
    cursor: pointer;
    font-size: 20px;
}

.black-text {
    color: black;
}

/* centers dish info within each split screen */
#dish-info {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}