#backgroundLogin{
    text-align: center;
    height: 100%;
    align-content: center;
    position: relative;
    background-size: cover;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#loginHeader{
    font-size: 30px;
    background: inherit;
    letter-spacing: 5px;
}


#everythinglogin{
    display: inline-block;
    padding: 45px;
    border-style: outset;
    border-radius: 50px;
    background-color: white;
    margin: 10% auto;
}

#wholeloginform{
    background-color: white;
    
}


#loginform{
    background-color: white;
    text-align: right;
}

#userpassform{
    background: inherit;
    padding-top: 5px;
}

label[for="username"] { 
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#username{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;

}

#username:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for="password"] { 
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}


#password{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

#password:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

#references{
    text-align: center;
    padding-top: 5px;
    background-color: white;
}

#forgotpassword{
    color: rgb(40,38,71);
}

#references2{
    text-align: center;
    background-color: white;
}

#newuser{
    color: rgb(40,38,71);
}

#loginbuttondiv{
    text-align: center;
    padding-top: 15px;
}

#loginbutton{
    padding: 5% 15%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    letter-spacing: 2px;
}

#loginbutton:hover{
    cursor: pointer;
    background-color: rgb(169, 169,169);
    transform: translateY(-0.33em);
}

#loginbutton:active{
    transform: translateY(0);
}


@media screen and (max-width: 600px)
{
   #userpassform{
       text-align: center;
   }

   #everythinglogin{
       margin: auto;
   }
    
}