#backgroundLogin{
    background: rgb(189, 175, 175) !important;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
    align-content: center;
    position: relative;
}

#loginHeader{
    font-size: 100px;
    background: inherit;
    letter-spacing: 10px;
}

#loginhr1{
    border: 1px solid rgb(0, 0, 0);
}

#logincontainer{
    padding-top: 150px;
    padding-bottom: 150px;
    background: inherit;
}

#everythinglogin{
    display: inline-block;
    padding:100px;
    border-style: outset;
    border-radius: 50px;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#wholeloginform{
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}


#loginform{
    background-image: inherit;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
    text-align: right;
}

#userpassform{
    background: inherit;
}

label[for="Username"] { 
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}

#username{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);

}

#username:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for="Password"] { 
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}


#pass{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#pass:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

#references{
    text-align: center;
    padding-bottom: 25px;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#forgotpassword{
    background-image: inherit;
    color: rgb(189, 175, 175);
}

#newuser{
    background-image:inherit;
    color: rgb(189, 175, 175);
}

#loginbuttondiv{
    background-image: inherit;
    text-align: center;
}

#loginbutton{
    padding: 5% 15%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    letter-spacing: 2px;
}

#loginbutton:hover{
    cursor: pointer;
    background-color: rgb(169, 169,169);
    transform: translateY(-0.33em);
}

#loginbutton:active{
    transform: translateY(0);
}

#loginhr2{
    border: 1px solid rgb(0, 0, 0);
}


@media screen and (max-width: 600px)
{
   #userpassform{
       text-align: center;
   }
    
}