:root {
    --navbar-background-color: rgb(34,34,34);

    --navbar-text-color: white;
    --navbar-hover-color: white;
    --navbar-active-color: blue;
    --navbar-hover-text-color: black;
    --navbar-active-text-color: orange;

    --navbar-font-item-size: 20px;
    --navbar-font-item-color: rgb(204, 203, 203);
}

navbar, nav * 
{
    background-color: var(--navbar-background-color);
    color: var(--navbar-font-item-color);
}

.navbar-hamburger-menu {
    margin:  0 40px 0 0;
    font-size: 40px;
    line-height: 70px;
    display: none;
    float: none;
    transform: translate(50%, -5%);
}

#toggle {
    display: none;
}

.logo-icon {
    position: absolute;
    height: 55px;
    width: 150px;
    top: 0;
    left: 0;
}

.navbar {
    position: relative;
    overflow: hidden;
    background-color: var(--navbar-background-color);
}

.navbar i {
    background-color: var(--navbar-background-color);
    color: var(--navbar-font-item-color);
}

.navbar i:hover {
    background-color: var(--navbar-font-item-color);
    color: var(--navbar-background-color);
}

.navbar a {
    float:  left;
    color: var(--navbar-font-item-color);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: var(--navbar-font-item-size);
    background-color: var(--navbar-background-color);
}

.navbar a:hover {
    background-color: var(--navbar-font-item-color);
    color: var(--navbar-background-color);
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar a.active {
    background-color: var(--navbar-active-color);
    color: var(--navbar-active-text-color);
}

.navbar-centered a {
    float: none;
    transform: translate(50%, -50%);
}

.navbar-right {
    right: 0;
    top: 5px;
    position: absolute;
}

.navbar-all {
    display: none;
}

@media only screen and (max-width: 800px) {
    .navbar-hamburger-menu {
        display: block;
        cursor: pointer;
        position: sticky;
    }

    .navbar-centered {
        display: none;
    }

    .navbar-right {
        display: none;
    }

    .navbar-all {
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar-all a {
        margin: 0;
        display: block;
        float: none;
        transform: translate(0%, 0%);
    }

    #toggle:checked + .navbar-all {
        display: block;
    }

    .logo-icon {
        height: 70px;
        width: 150px;
    }
}

