#backgroundNew{
    background: rgb(189, 175, 175) !important;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
    align-content: center;
    position: relative;
}

#newuserHeader{
    font-size: 100px;
    background: inherit;
    letter-spacing: 10px;
}

#newuserhr1{
    border: 1px solid rgb(0, 0, 0);
}

#containernew{
    padding-top: 150px;
    padding-bottom: 150px;
    background:inherit;
}

#everythingnew{
    display: inline-block;
    padding:100px;
    border-style: outset;
    border-radius: 50px;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#registerwholeform{
    background:inherit;
}

#registerform{
    background:inherit;
    text-align: right;
    padding-bottom: 35px;
}

label[for = "Email"]{
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}

#email{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#email:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Phone"]{
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}

#phone{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#phone:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Name"]{
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}

#name{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#name:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}


label[for = "Password"]{
    font-size: 25px; 
    background:inherit;
    color: rgb(169, 169,169);
}

#password{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#password:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}


#registerbutton{
    padding: 5% 15%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    letter-spacing: 2px;
}

#registerbutton{
    cursor: pointer;
    background-color: rgb(169, 169,169);
    transform: translateY(-0.33em);
}

#registerbutton{
    transform: translateY(0);
}

#newuserhr2{
    border: 1px solid rgb(0, 0, 0);
}



@media screen and (max-width: 600px)
{
   #registerform{
       text-align: center;
   }
    

   label[for="Email"]{
       display:block;
   }
}