#backgroundNew{
    background: rgb(189, 175, 175) !important;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-content: center;
    position: relative;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#newuserHeader{
    font-size: 30px;
    background: inherit;
    letter-spacing: 5px;
}

#containernew{
    padding-top: 150px;
    padding-bottom: 150px;
    background:inherit;
    background-image: url('https://static.wixstatic.com/media/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.jpg/v1/fill/w_1467,h_1408,al_c,q_90/27eac3_499a4d4d3039486ba9baacaa16504a27~mv2.webp');
}

#everythingnew{
    display: inline-block;
    padding: 50px;
    border-style: outset;
    border-radius: 50px;
    background-color: white;
}

#registerwholeform{
    background:inherit;
}

#formcontainer{
    display: flex;
    flex-flow: row;
}

#registerform1{
    background:inherit;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}

#registerform2{
    background:inherit;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}

label[for = "First Name"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#fname{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#fname:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Last Name"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#lname{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#lname:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Email"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#email{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#email:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Username"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#uname{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#uname:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Phone"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#phone{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#phone:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Card Number"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#cardnum{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#cardnum:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}


label[for = "Password"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);
}

#password{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);
}

#password:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

label[for = "Confirm Password"]{
    font-size: 20px; 
    background:inherit;
    color: rgb(40,38,71);

}

#conpass{
    height:30px;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    border-color:  rgb(169, 169,169);

}

#conpass:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}


#registerbutton{
    padding: 4% 10%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    letter-spacing: 2px;
}

#registerbutton:hover{
    cursor: pointer;
    background-color: rgb(169, 169,169);
    transform: translateY(-0.33em);
}

#registerbutton{
    transform: translateY(0);
}

@media screen and (max-width: 600px)
{
   #registerform{
       text-align: center;
   }
    

   label[for="Email"]{
       display:block;
   }
}